@import "tailwindcss";
@import "toastify-js/src/toastify.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-neutral-100);
  background-color: var(--color-neutral-950);

  --text: var(--color-neutral-100);
  --bg: var(--color-neutral-900);
  --bg-dark: var(--color-neutral-950);
  --border: var(--color-neutral-700);
  --border-lt: var(--color-neutral-400);
  --accent: var(--color-orange-500);
  --accent-hover: var(--color-orange-400);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: var(--color-neutral-100);
  text-decoration: inherit;
}
a:hover {
  cursor: pointer;
  color: var(--accent);
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1;
  font-weight: bold;
}

h2 {
  font-size: 1.7em;
  line-height: 1;
}

p {
  line-height: 1.3;
}

button {
  font-family: inherit;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s, border 0.2s;
}

.card {
  padding: 2em;
}

.link {
  /* cursor-pointer hover:text-[var(--accent)] transition-colors */
  cursor: pointer;
  transition: color 0.1s;
}
.link:hover {
  color: var(--accent);
}

.cap::first-letter {
  text-transform: uppercase;
}

#app {
  max-width: 1280px;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-neutral-900);
    background-color: var(--color-neutral-200);
    --text: var(--color-neutral-900);
    --bg: var(--color-neutral-100);
    --bg-dark: var(--color-neutral-200);
    --border: var(--color-neutral-300);
    --border-lt: var(--color-neutral-200);
  }
  a {
    color: var(--text-color);
  }
}
@keyframes like-pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

.like-pulse {
  animation: like-pulse 0.3s ease-in-out;
}